html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Taking full height of the viewport */
  width: 100vw; /* Taking full width of the viewport */
  position: relative;
}

/* DatePicker Styling */
.change {
  font-size: 2vw; /* Adjust based on your preference */
  border-radius: 10px;
}

p {
  padding: 1vh;
  line-height: 1.5;
}

/* Button Styling */
button {
  font-size: 1.5vw; /* Adjust based on your preference */
  padding: 0.5em 1em; /* Giving it some spacing */
  border: none;
  background-color: lightpurple; /* or any desired color */
  border-radius: 25px; /* Making it pill-shaped */
  cursor: pointer;
}

button:hover {
  background-color: purple; /* or any desired color for hover effect */
  color: white; /* Text color on hover */
}

/* Media Query for smaller devices */
@media (max-width: 600px) {
  .change {
      font-size: 3.5vw;
  }

  button {
      font-size: 3vw;
  }
}


